* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  /* Temporary font */
}
:root {
  --lightblue: #d8eafd;
  --midblue: #6bb5e0;
  --midnighblue: #135091;

  --darkerblue: #5a7fe6;
  --neonpurple: #7149b1;
  --darkgray: #132837;
  --darkoker: #161a25;

  --lightpurple: #291793;
  --grayblue: #324356;
  --darkorange: #f45a26;
  --skintone-dark: #ce8287;
  --skintone-light: #f3bda5;

  --tiffany-blue: #79c6beff;
  --dark-purple: #3a1a2bff;
  --indian-red: #be7168ff;
  --black-bean: #3b1016ff;
  --dark-purple-2: #220716ff;

  --ultra-violet: #676c97ff;
  --space-cadet: #323753ff;
  --thistle: #ddc4f2ff;
  --chinese-violet: #6b5f7aff;
  --veronica: #9b40daff;

  --ms: 0.25rem;
  --mm: 0.5rem;
  --ml: 1rem;
  --mxl: 1.5rem;
  --mxxl: 2rem;
  --mxxxl: 2.5rem;
  --huge: 5rem;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--darkgray);
  /* background-color: hsl(110, 26%, 54%, 0.7); */
  /* height: 4000px; */
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--darkoker);
}
::-webkit-scrollbar-thumb {
  background-color: var(--neonpurple);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--veronica);
}
.main--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--ml);
  color: white;
  background-color: var(--lightpurple);
  box-shadow: 1px 0 10px var(--darkoker);
}
.this--is--me {
  padding: var(--ml);
  user-select: none;
  text-transform: uppercase;
  font-size: var(--mxxl);
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--ml);
}
.navbar li:hover {
  cursor: pointer;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar a:hover {
  color: var(--indian-red);
}
.fa-github {
  font-size: var(--mxl);
}
.hero--section {
  padding: var(--mxxl);
  margin: var(--mxxl);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.hero--section--img {
  margin: 0 var(--mxxl);
  height: 500px;
  box-shadow: 0 0 40px var(--black-bean);
}
.hero--section--article {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--mxxxl);
}
.hero--section--article h1 {
  font-size: var(--mxxl);
}
.hero--section--article p {
  font-size: var(--mxl);
}
.self--assesment--section {
  margin: var(--mxxxl);
  padding: var(--mxxl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--darkoker);
  /* background-color: hsl(64, 70%, 58%, 0.6); */
  border-radius: 15px;

  box-shadow: 0 0 50px var(--grayblue);
}
.self--assesment--heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--ml);
  color: white;
  width: 100%;
}
.self--assesment--heading h2 {
  font-size: var(--mxxxl);
}
.self--assesment--heading p {
  font-size: var(--mxl);
}
.self--assesment--heading--grades {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* gap: var(--huge); */
}
.self--assesment--items {
  margin: var(--mxl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0 var(--mxxl) 0;
}
.bar {
  margin: 0 var(--mxxl);
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80vw;
  height: 3rem;
  background: white;

  position: relative;
}
.self--assesment--knoledge--bar--js {
  position: absolute;
  width: 63vw;
  height: 3rem;
  background: var(--darkerblue);
  left: 0;
}
.self--assesment--knoledge--bar--nodejs {
  position: absolute;
  width: 57vw;
  height: 3rem;
  background: var(--darkerblue);
  left: 0;
}
.self--assesment--knoledge--bar--react {
  position: absolute;
  width: 40vw;
  height: 3rem;
  background: var(--darkerblue);
  left: 0;
}
.self--assesment--knoledge--bar--c {
  position: absolute;
  width: 40vw;
  height: 3rem;
  background: var(--darkerblue);
  left: 0;
}
.self--assesment--knoledge--bar--cpp {
  position: absolute;
  width: 35vw;
  height: 3rem;
  background: var(--darkerblue);
  left: 0;
}
.self--assesment--knoledge--bar--tailwind {
  position: absolute;
  width: 43vw;
  height: 3rem;
  background: var(--darkerblue);
  left: 0;
}
.self--assesment--knoledge--bar--html {
  position: absolute;
  width: 75vw;
  height: 3rem;
  background: var(--darkerblue);
  left: 0;
}
.self--assesment--knoledge--bar--css {
  position: absolute;
  width: 75vw;
  height: 3rem;
  background: var(--darkerblue);
  left: 0;
}
.prev--work--exp--h2 {
  text-align: center;
  color: white;
  margin: 7rem;
  font-size: var(--mxxxl);
  background-image: url("../img/bigmoon-dark-shadows-spaceship-desert.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: var(--mxxl);
  font-weight: bold;
  box-shadow: 0 0 30px var(--indian-red);
}
.work--experience--section {
  margin: var(--mxxxl);

  display: flex;
  align-items: start;
  justify-content: space-evenly;
  /* gap: 15vw; */
}
.work--exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work--exp--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 240px;
  color: white;
}
.work--exp--side--cont {
  width: 30vw;
  padding: var(--mm);
  border-radius: 20px;
  transition: all 250ms ease-in-out;
  background-color: transparent;
}
.work--exp--side--cont:hover {
  box-shadow: 0 0 50px var(--neonpurple);
}
.work--exp--side--cont h2 {
  font-size: var(--mxxxl);
}
.work--exp--side--cont p {
  margin: var(--mxl);
  font-size: var(--mxl);
}
.work--exp--side--cont--ul {
  list-style: none;
}
.work--exp--side--cont--ul li {
  margin: var(--mm);
}
.work--exp--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.vertical--line {
  width: 3px;
  height: 250px;
  background-color: white;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
}
.ending--button--cent {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: var(--darkorange);
  color: white;
  font-weight: bold;
  border: none;
  font-size: var(--ml);
}
.work--exp--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 260px; */
  margin: 120px 0 0 0;
  color: white;
}

.work--exp--right--cont {
  width: 30vw;
}
.projects--h2 {
  text-align: center;
  color: white;
  margin: 7rem;
  font-size: var(--mxxxl);
  background-image: url("../img/two-futuristic-spaceshipts-desert.jpg");
  background-position: 0 25%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: var(--mxxl);
  font-weight: bold;
  box-shadow: 0 0 30px var(--indian-red);
}
.projects--section {
  margin: var(--mxxl);
}
.project--card {
  margin: var(--ml);
  padding: var(--ml);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--mxxxl);
}
.project--img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 300px;
  background-color: var(--space-cadet);
  border-radius: 10px;
  box-shadow: 0 0 30px var(--grayblue);
  transition: all 300ms ease-in;
}
.project--img--wrapper:hover {
  background-color: var(--darkorange);
  box-shadow: 0 0 30px var(--skintone-dark);
}
.project--desc--wrapper {
  padding: var(--mxxxl) var(--mxl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--mxl);
  border-radius: 10px;
  transition: all 350ms ease-in;
}
.project--desc--wrapper:hover {
  box-shadow: 0 0 30px var(--darkerblue);
}
.project--desc--atrb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: var(--mxl);
  width: 45vw;
  gap: var(--mxl);
  border-radius: 10px;
}
.project--desc--atrb p {
  color: white;
  font-size: var(--mxl);
}
footer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  background-image: url("../img/large-image-small-person.jpg");
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--ml);
  margin: var(--mxxxl) 0 0 0;
  box-shadow: 0 0 50px var(--dark-purple);
}
.footer--elems--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--space-cadet);
  border-radius: 10px;
  width: 80%;
}
.footer--subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: var(--mxl);
  padding: var(--mxl);
}
.keep--up {
  gap: var(--mxxl);
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--mxl);
  padding: var(--ml) var(--mxl);
  border-radius: 100px;
  border: 2px solid white;
  width: fit-content;
}
.socials a {
  text-decoration: none;
  color: white;
}
.socials i {
  font-size: var(--mxxl);
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease-in;
}

.socials i:hover {
  background-color: white;
  color: black;
}
.footer--subsection--nav {
  padding: var(--mxxxl);
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.288);
}
.nav--h3 {
  text-align: center;
}
.footer--nav--ul {
  list-style: square;
  color: var(--tiffany-blue);
}
.footer--nav--ul li {
  margin: var(--ml);
}
.footer--nav--ul li:hover {
  cursor: pointer;
  color: white;
}
.footer--nav--ul a {
  color: var(--tiffany-blue);
  text-decoration: none;
}
/*  */
.thm {
  margin: 150px 0 0 0;
}
.indent {
  margin: var(--ml);
}
.empt {
  width: 300px;
  height: 100px;
}
.hidden {
  display: none;
}
